<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/auth-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>OPD-WMS &middot; Forgot Password</title>
</head>
<body>

<div layout:fragment="content">


    <div class="login-container  forgot-password">
        <div class="panel panel-default">
            <div class="panel-heading"><img th:src="@{theme/img/logo-full-retina.pj}" alt="logo" width="150px" height="39px" class="logo-img"><span>Forgot your password?</span></div>
            <div class="panel-body">

                <div th:if="${error}" class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span th:text="${error}"></span>
                </div>

                <div th:if="${msg}" class="alert alert-success alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span th:text="${msg}"></span>
                </div>

                <form action="#"  novalidate="" method="get" class="form-horizontal">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <p class="text-center">Don't worry, we'll send you an email to reset your password.</p>
                    <div class="form-group">
                        <div id="email-handler" class="input-group"><span class="input-group-addon"><i class="icon s7-mail"></i></span>
                            <input type="email" name="email" parsley-trigger="change" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#email-handler" required="" placeholder="Your Email" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <p class="contact text-center">Remembered your login credentials? <a  th:href="@{/login}">Login</a></p>
                    <button type="submit" class="btn btn-block btn-primary btn-lg">Reset Password</button>
                </form>
            </div>
        </div>
        <div class="text-center out-links"><a href="http://one-point-seven.com/">© 2019 One Point Seven Ltd</a></div>
    </div>

</div>

<th:block layout:fragment="script">
    <!--<script th:src="@{/js/app-util.js}"></script>-->
    <!--<script th:src="@{/js/user-manager/login.js}"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            //initialize the javascript
            App.init();
        });

    </script>
</th:block>

</body>
</html>