<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>WMS &middot; User Groups </title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="page-head">
        <h2 class="page-head-title" th:text="#{page.user.groups}"></h2>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/user-groups}">User Management</a></li>
            <li class="active" th:text="#{page.user.groups}"></li>
        </ol>
    </div>

    <div class="main-content">

        <div class="xs-mt-0 xs-mb-5">

            <button type="button" class="btn btn-rounded btn-space btn-success" data-toggle="modal"
                    data-target=".edit-view"><i class="icon icon-left s7-plus"></i> Add New
            </button>
            <button type="button" class="btn btn-rounded btn-space btn-info" data-action="refresh"><i
                    class="icon icon-left s7-refresh"></i> Refresh
            </button>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="tab-container">
                    <ul class="nav nav-tabs ">
                        <li class="active"><a href="#active" data-toggle="tab">Active</a></li>
                        <li><a href="#new" data-toggle="tab">New</a></li>
                        <li><a href="#edited" data-toggle="tab">Edited</a></li>
                        <li><a href="#deactivated" data-toggle="tab">Deactivation Request</a></li>
                        <li><a href="#inactive" data-toggle="tab">Inactive</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="active" class="tab-pane active cont active">

                            <table class="table table-striped table-hover table-fw-widget table-active">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <div id="new" class="tab-pane cont">

                            <table id="table-new" class="table table-striped table-hover table-fw-widget table-new">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <div id="edited" class="tab-pane">

                            <table id="table-edited"
                                   class="table table-striped table-hover table-fw-widget table-edited">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <div id="deactivated" class="tab-pane">

                            <table id="table-deactivated"
                                   class="table table-striped table-hover table-fw-widget table-deactivated">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                        <div id="inactive" class="tab-pane">

                            <table id="table-inactive"
                                   class="table table-striped table-hover table-fw-widget table-inactive">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Station Code</th>
                                    <th>Location</th>
                                    <th>Contact</th>
                                    <th>Created On</th>
                                    <th>Updated On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="modals">
    <div class="modal modal-colored-header modal-colored-header-info fade edit-view"
         tabindex="-1"
         role="dialog" aria-labelledby="editViewModal"
         aria-hidden="true">
        <div class="modal-dialog  modal-full-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i
                            class="icon s7-close"></i></button>
                    <h3 class="modal-title"><span th:text="#{page.user.groups}"></span></h3>
                </div>
                <form autocomplete="off">
                    <div class="modal-body form">

                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" class="form-control" name="name" maxlength="50" required="required">
                        </div>

                        <div class="form-group">
                            <label class="control-label"> System Role</label>
                            <select name="baseType" class="form-control" required>
                                <option value="super-admin"> Super Admin </option>
                                <option value="kenha-admin"> KENHA Admin </option>
                                <option value="kenha-axle-load-control-officer"> KENHA Axle Load Control Officer </option>

                                <option value="aea-admin"> AEA Admin </option>
                                <option value="aea-weighbridge-managers"> AEA Weighbridge Manager </option>
                                <option value="aea-operations-managers"> AEA Operations Manager </option>
                                <option value="mobile-operators"> Mobile Operators </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> Description </label>
                            <input type="text" class="form-control" name="description" maxlength="200"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <label class="control-label"> Permissions </label>
                            <div>
                                <label style="padding-left: 10%;">
                                    Not Assigned
                                </label>
                                <label style="padding-left: 60%;">
                                    Assigned
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <select name="from[]" id="permissionsEl" class="form-control" size="10"
                                            multiple="multiple">

                                        <th:block th:each="item : ${permissions}">
                                            <optgroup class="title" th:label="${item.role}"
                                                      th:attr="data-basetype=${item.function}">

                                                <option th:each="node : ${item.permissions}"
                                                        th:value="${node.id}"
                                                        th:text="${node.name}"
                                                        th:attr="data-basetype=${item.function}"></option>

                                            </optgroup>
                                        </th:block>

                                    </select>
                                </div>

                                <div class="col-lg-2">
                                    <button type="button" id="permissionsEl_rightAll" class="btn btn-block btn-success"><i
                                            class="fa fa-2x fa-angle-double-right"></i></button>
                                    <button type="button" id="permissionsEl_rightSelected" class="btn btn-block btn-success"><i
                                            class="fa fa-2x fa-angle-right"></i></button>
                                    <button type="button" id="permissionsEl_leftSelected" class="btn btn-block btn-danger"><i
                                            class="fa fa-2x fa-angle-left"></i></button>
                                    <button type="button" id="permissionsEl_leftAll" class="btn btn-block btn-danger"><i
                                            class="fa fa-2x fa-angle-double-left"></i></button>
                                </div>

                                <div class="col-lg-5">
                                    <select name="roles" id="permissionsEl_to" class="form-control permissions"
                                            size="10" multiple="multiple"></select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new"/>
                        <input type="hidden" name="id" value=""/>
                        <button type="submit" class="btn btn-success" th:text="#{core.save}"></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                th:text="#{core.close}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</th:block>


<th:block layout:fragment="script">
    <script th:src="@{js/app-util.js}"
            rel="script"
            type="application/javascript"></script>
    <script th:src="@{theme/lib/multiselect.js}"
            rel="script"
            type="application/javascript"></script>
    <script th:src="@{theme/lib/bootstrap-select/js/bootstrap-select.min.js}"
            rel="script"
            type="application/javascript"></script>
    <script th:src="@{js/user-manager/usergroups.js}"
            rel="script"
            type="application/javascript"></script>
</th:block>

</body>
</html>