<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>OPD-WMS &middot; Tags Live Preview </title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="page-head">
        <h2 class="page-head-title"> Tagging Live Preview</h2>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/tags-live-preview}"> Dashboard</a></li>
            <li class="active">Tags Live Preview</li>
        </ol>
    </div>

    <div class="main-content">

        <div class="row">
            <div class="col-sm-12">
                <div class="tab-container">
                    <div class="tab-content">
                        <div id="active" class="tab-pane active cont active table-responsive noSwipe">

                            <table class="table table-striped table-hover table-fw-widget table-active">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Tag Ref. No</th>
                                    <th>Reg. No</th>
                                    <th>Transgression</th>
                                    <th>Tag System</th>
                                    <th>Tag Location</th>
                                    <th>Weighbridge</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="modals"></th:block>


<th:block layout:fragment="script">
    <script th:src="@{js/app-util.js}"></script>
    <!--<script th:src="@{theme/lib/sockjs/sockjs.min.js}"></script>-->
    <!--<script th:src="@{theme/lib/sockjs/sockjs.min.js.map}"></script>-->
    <!--<script th:src="@{theme/lib/sockjs/stomp.min.js}"></script>-->
    <script th:src="@{js/live-preview/tags-live-preview.js}"></script>
</th:block>

</body>
</html>