<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>WMS &middot; Data Agent Status </title>

</head>
<body>

<th:block layout:fragment="content">
    <div class="page-head">
        <h2 class="page-head-title"> Data Agent Status </h2>
        <ol class="breadcrumb">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/data-agent-status}">System</a></li>
            <li class="active"> Data Agent Status </li>
        </ol>
    </div>

    <div class="main-content">

        <div class="xs-mt-0 xs-mb-5">
            <button type="button" class="btn btn-rounded btn-space btn-info" data-action="refresh"><i
                    class="icon icon-left s7-refresh"></i> Refresh
            </button>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="tab-container">
                    <div class="tab-content">
                        <div id="active" class="tab-pane active cont active">

                            <table class="table table-striped table-hover table-fw-widget table-active">
                                <thead>
                                <tr>
                                    <th>Station Name</th>
                                    <th>Last Updated</th>
<!--                                    <th class="text-center text-muted" style="width: 100px;">Actions</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</th:block>

<th:block layout:fragment="modals"></th:block>


<th:block layout:fragment="script">
    <script th:src="@{js/app-util.js}"></script>
    <script th:src="@{theme/lib/bootstrap-select/js/bootstrap-select.js}"></script>
    <script th:src="@{js/data-agent/data-agent.js}"></script>
</th:block>

</body>
</html>