<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title> WMS &middot; Left Sidebar</title>
</head>
<body>

<th:block th:fragment="left-sidebar">
    <div class="am-left-sidebar">
        <div class="content">
            <div class="am-logo"></div>
            <ul class="sidebar-elements">
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/','/live-preview','tags-live-preview')}">
                    <a th:href="@{/}"><i class="icon s7-monitor"></i><span>Dashboard</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/')}"><a th:href="@{/}">Static WMS Dashboard</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/live-preview')}"><a th:href="@{/live-preview}">Live
                            Preview</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/tags-live-preview')}"><a
                                th:href="@{/tags-live-preview}">Tagging Live
                            Preview</a>
                        </li>
<!--                        <li th:classappend="${@viewTags.isActiveMenu('/simple-kibana-view')}"><a-->
<!--                                th:href="@{/simple-kibana-view}">Simple Kibana View-->
<!--                            Preview</a>-->
<!--                        </li>-->
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/weighbridge-stations', '/axle-classification', '/police-officers ')}">
                    <a th:href="@{/weighbridge-stations}"><i class="icon s7-config"></i><span>Setup</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/weighbridge-stations')}"><a
                                th:href="@{/weighbridge-stations}">Weighbridge Stations</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/axle-classification')}"><a
                                th:href="@{/axle-classification}">Axle Classification</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/police-officers')}"><a
                                th:href="@{/police-officers}">Police Officers</a>
                        </li>
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/user-groups','/users')}">
                    <a th:href="@{/user-groups}"><i class="icon s7-users"></i><span>User Management</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/user-groups')}"><a th:href="@{/user-groups}">User
                            Groups</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/users')}"><a th:href="@{/users}">Users</a>
                        </li>
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/weighing-transactions', '/hswim-transactions', '/virtual-station-transactions')}">
                    <a th:href="@{/weighing-transactions}"><i class="icon s7-note2"></i><span> Transactions </span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/weighing-transactions')}"><a
                                th:href="@{/weighing-transactions}">Static Station Transactions</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/hswim-transactions')}"><a
                                th:href="@{/hswim-transactions}">HSWIM Transactions</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/virtual-station-transactions')}"><a
                                th:href="@{/virtual-station-transactions}">Virtual Station Transactions</a>
                        </li>
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/daily-weighing-report','/daily-tagging-report')}">
                    <a th:href="@{/daily-weighing-report}"><i class="icon s7-news-paper"></i><span>Reports</span></a>
                    <ul class="sub-menu">
<!--                        <li th:classappend="${@viewTags.isActiveMenu('/daily-weighing-report')}"><a th:href="@{/daily-weighing-report}">Daily Weighing Reports</a>-->
<!--                        </li>-->
                        <li th:classappend="${@viewTags.isActiveMenu('/daily-tagging-report')}"><a th:href="@{/daily-tagging-report}">Daily Tagging Reports</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/weigh-station-transaction-report')}"><a th:href="@{/weigh-station-transaction-report}">Weigh Station Transaction Reports</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/vehicle-class-transaction-report')}"><a th:href="@{/vehicle-class-transaction-report}">Vehicle Classification Reports</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/vehicle-transaction-report')}"><a th:href="@{/vehicle-transaction-report}">Vehicle Reports</a>
                        </li>
                    </ul>
                </li>

                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/tagging-cleared-transactions','/tagging-open-transactions', '/virtual-station-tagging-transactions')}">
                    <a th:href="@{/tagging-open-transactions}"><i class="icon s7-car"></i><span> Vehicle Tags</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/tagging-open-transactions')}"><a
                                th:href="@{/tagging-open-transactions}"> Open Tags </a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/tagging-cleared-transactions')}"><a
                                th:href="@{/tagging-cleared-transactions}"> Cleared Tags </a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/virtual-station-tagging-transactions')}"><a
                                th:href="@{/virtual-station-tagging-transactions}"> Virtual Tags </a>
                        </li>
                    </ul>
                </li>

                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/mobile-weigh-arrest','/mobile-weigh-prosecution')}">
                    <a th:href="@{/mobile-weigh-arrest}"><i class="icon s7-phone"></i><span> Mobile </span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/mobile-weigh-arrest')}">
                            <a th:href="@{/mobile-weigh-arrest}"> Mobile Weigh Arrest </a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/mobile-weigh-prosecution')}">
                            <a th:href="@{/mobile-weigh-prosecution}"> Mobile Weigh Prosecution </a>
                        </li>
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/maker-checker','/system-settings','/reason-codes')}">
                    <a th:href="@{/maker-checker}"><i class="icon s7-tools"></i><span>System</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/maker-checker')}"><a th:href="@{/maker-checker}">Maker
                            Checker</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/system-settings')}"><a
                                th:href="@{/system-settings}">System Configuration</a>
                        </li>
                        <li th:classappend="${@viewTags.isActiveMenu('/reason-codes')}"><a th:href="@{/reason-codes}">Reason
                            Codes</a>
                        </li>
                    </ul>
                </li>
                <li class="parent"
                    th:classappend="${@viewTags.isActiveMenu('/audit-logs')}"><a th:href="@{/audit-logs}"><i
                        class="icon s7-diskette"></i><span>Audit Logs</span></a>
                    <ul class="sub-menu">
                        <li th:classappend="${@viewTags.isActiveMenu('/audit-logs')}"><a th:href="@{/audit-logs}">System
                            Audit Logs</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--Sidebar bottom content-->
        </div>
    </div>
</th:block>

</body>
</html>