<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title> OPD-WMS &middot; Left Sidebar</title>
</head>
<body>

<th:block th:fragment="nav-bar">

    <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="page-title">
                    <span>Dashboard</span>
                </div>
                <a th:href="@{/}" class="am-toggle-left-sidebar navbar-toggle collapsed">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </a><a th:src="@{/}" class="navbar-brand"></a>
            </div>
            <!--<a th:src="@{/}" class="am-toggle-right-sidebar">-->
                <!--<span class="icon s7-menu2"></span>-->
            <!--</a>-->
            <a th:src="@{/}" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed">
                <span class="icon s7-angle-down"></span>
            </a>
            <div id="am-navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav am-user-nav">
                    <li class="dropdown"><a th:src="@{/}" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                        <img th:src="@{theme/img/avatar.jpg}"><span class="user-name">Jane Doe</span><span class="angle-down s7-angle-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a th:href="@{/profile}"> <span class="icon s7-user"></span>My profile</a></li>
                            <li><a th:href="@{/help}"> <span class="icon s7-help1"></span>Help</a></li>
                            <li>
                                <a th:href="@{#}">
                                    <form th:action="@{/logout}" method="post">
                                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                        <button type="submit" class="btn btn-link"><i class="icon s7-power"></i><span>Sign Out</span>
                                        </button>
                                    </form>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav am-top-menu">
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/live-preview}">Live Preview</a></li>
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">Quick Access <span class="angle-down s7-angle-down"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a th:href="@{/weighbridge-stations}">Weighbridge Stations</a></li>
                            <li><a th:href="@{/daily-weighing-report}">Reports</a></li>
                            <li><a th:href="@{/tagging-transactions}">Tagged Vehicles</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav am-icons-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon s7-bell"></span><span class="indicator"></span></a>
                        <ul class="dropdown-menu am-notifications">
                            <li>
                                <div class="title">Notifications<span class="badge">3</span></div>
                                <div class="list">
                                    <div class="am-scroller nano">
                                        <div class="content nano-content">
                                            <ul id="notifications-box">
                                                <li class="active"><a href="#">
                                                    <div class="logo"><span class="icon s7-car"></span></div>
                                                    <div class="user-content"><span class="circle"></span><span class="name">KCE 423K</span><span class="text-content"> was tagged at Athi River Station Nairobi bound.</span><span class="date">2 min ago</span></div></a></li>
                                                <li><a href="#">
                                                    <div class="logo"><span class="icon s7-hammer"></span></div>
                                                    <div class="user-content"><span class="name">KCF 341P</span><span class="text-content"> overload case completed</span><span class="date">2 days ago</span></div></a></li>
                                                <li><a href="#">
                                                    <div class="logo"><span class="icon s7-gleam"></span></div>
                                                    <div class="user-content"><span class="name">KPP 534T</span><span class="text-content"> over speeding at 140km/h Northern Bypass</span><span class="date">2 days ago</span></div></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer"> <a th:src="@{/tagging-transactions}">View all notifications</a></div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>

</body>
</html>