<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/dashboard-layout}"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title>OPD-WMS &middot; Dashboard</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-4">
            <div class="widget widget-pie">
                <div class="widget-head"><span class="title">Sum Weighing Statistics</span></div>
                <div class="row chart-container">
                    <div class="col-md-6">
                        <div id="widget-top-1" class="chart"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="legend"></div>
                    </div>
                </div>
                <div class="row chart-info">
                    <div class="col-xs-4"><span class="title">Within Limits</span><span data-toggle="counter" data-end="2342100" data-suffix="kg"  class="number">0</span></div>
                    <div class="col-xs-4"><span class="title">Allowed %</span><span data-toggle="counter" data-end="1333500" data-suffix="kg" class="number">$0</span></div>
                    <div class="col-xs-4"><span class="title">Overload</span><span data-toggle="counter" data-end="235300" data-suffix="kg"  class="number">0</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget widget-pie">
                <div class="widget-head"><span class="title">Clerk Census</span></div>
                <div class="row chart-container">
                    <div class="col-md-6">
                        <div id="widget-top-2" class="chart"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="legend"></div>
                    </div>
                </div>
                <div class="row chart-info">
                    <div class="col-xs-4"><span class="title">Impounds</span><span data-toggle="counter" data-end="300" class="number">0</span></div>
                    <div class="col-xs-4"><span class="title">Prosecuted</span><span data-toggle="counter" data-end="150" class="number">0</span></div>
                    <div class="col-xs-4"><span class="title">Cleared</span><span data-toggle="counter" data-end="4000"  class="number">0</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget widget-pie widget-pie-stats">
                <div class="widget-head"><span class="title">Collections</span></div>
                <div class="row chart-container">
                    <div class="col-md-6">
                        <div id="widget-top-3" class="chart"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="legend">
                            <table>
                                <tbody>
                                <tr>
                                    <td class="legendColorBox">
                                        <div>
                                            <div style="width:10px;height:10px;overflow:hidden" class="clr-alt3"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">Tags</td>
                                    <td class="legendData">$7,454,352</td>
                                </tr>
                                <tr>
                                    <td class="legendColorBox">
                                        <div>
                                            <div style="width:10px;height:10px;overflow:hidden" class="clr-alt4"></div>
                                        </div>
                                    </td>
                                    <td class="legendLabel">Overload</td>
                                    <td class="legendData">$3,444,400</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row chart-info">
                    <div class="col-xs-6">
                        <div id="spk1" class="sparkline"></div><span class="title">Profit</span><span data-toggle="counter" data-end="70" data-suffix="%" class="number">0%</span>
                    </div>
                    <div class="col-xs-6">
                        <div id="spk2" class="sparkline"></div><span class="title">Return</span><span data-toggle="counter" data-end="30" data-suffix="%" class="number">0%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                    <div class="tools"><span class="value">25.3M</span></div><span class="title">Total Fees Collected</span>
                </div>
                <div class="chart-container">
                    <div id="linechart-mini1" style="height: 92px;"></div>
                </div>
            </div>
            <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                    <div class="tools"><span class="value">5.3M</span></div><span class="title">Unpaid Fees</span>
                </div>
                <div class="chart-container">
                    <div id="barchart-mini1" style="height: 92px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget widget-fullwidth line-chart">
                <div class="widget-head">
                    <span class="title">Vehicle Tagging Trend</span>
                </div>
                <div class="chart-container">
                    <div class="counter">
                        <div class="value">60%</div>
                        <div class="desc">Less tagging</div>
                    </div>
                    <div id="line-chart1" style="height: 260px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="widget widget-fullwidth line-chart">
                <div class="widget-head">
                    <span class="title">Weighing Trend</span>
                </div>
                <div class="chart-container">
                    <div class="counter">
                        <div class="value">30%</div>
                        <div class="desc">More Weighing</div>
                    </div>
                    <div id="line-chart2" style="height: 290px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget">
                <div class="widget-head">
                    <span class="title">Vehicle Configurations</span>
                </div>
                <div class="chart-container">
                    <div id="pie-chart4" style="height: 260px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget widget-fullwidth">
                <div class="widget-head">
                    <span class="title">Cases</span>
                </div>
                <div class="chart-container">
                    <div class="counter">
                        <div class="value">2%</div>
                        <div class="desc">Less Cases</div>
                    </div>
                    <div id="bar-chart1" style="height: 290px;"></div>
                </div>
            </div>
        </div>
    </div>

</th:block>


<th:block layout:fragment="script">
    <script th:src="@{theme/js/main.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-flot/jquery.flot.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-flot/jquery.flot.pie.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-flot/jquery.flot.resize.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-flot/plugins/jquery.flot.orderBars.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-flot/plugins/curvedLines.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery.sparkline/jquery.sparkline.min.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/jquery-ui/jquery-ui.min.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/countup/countUp.min.js}"
            type="text/javascript"></script>
    <script th:src="@{theme/lib/chartjs/Chart.min.js}"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            //initialize the javascript
            App.init();
            App.dashboard();
        });
    </script>
</th:block>

</body>
</html>